@media screen and (max-width:918px){
  .cart{
    
    grid-template-columns: 1fr;
  
    >aside{
      border-radius: 0px 0 0 0px;
      padding: 1rem;
      
      >h2{
        margin: 1rem;
        font: 100 1rem "Roboto";
        letter-spacing: 1px;
  
        &:last-of-type{
          font-weight: 600;
        }
      }
    }
  }
}